.bod{
    background: url(../Imagenes/fondo.jpg);
    background-position:top;
    background-attachment:scroll;
    background-size:cover;
}
    .navegador{
        margin: 0px;
    }
        .nav{
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 3px solid white;
            flex-wrap: wrap; 
        }
            .nav ul{
                list-style: none;
            }
            .menu{
                display: flex;
                justify-content: center;
            }
                .menu > li{
                    position: relative;
                }
                    .menu li:hover .submenu{
                        visibility: visible;
                        opacity: 1;
                    }
                        .navs{
                            margin:25px 75px;
                            margin-top: 10px;
                            padding: 0px 25px;
                            border-bottom: 3px solid white;
                            background: radial-gradient(50% 50% at 50% 50%, #00FFF0 0%, rgba(123, 242, 235, 0.708333) 0.01%, rgba(123, 242, 235, 0) 100%);
                        }
                            .navs:hover{
                                background: radial-gradient(50% 50% at 50% 50%, #000000 20%, #00FFF0 60%, rgba(242, 123, 123, 0) 100%);
                                border-bottom: 3px solid #00FFF0;
                            }
                            .navs2{
                                text-decoration: none;
                                color: white;
                                font-size: 25px;
                            }
                                .letra{
                                    margin-bottom: 3px;
                                    margin-top: 0px;
                                }
                                .letra2{
                                    background: white;
                                    margin-top: 7px;
                                    padding: 10px 35px;
                                    background: #00FFE0;
                                    border-bottom: 5px solid #FFFFFF;
                                    border-radius: 19px;
                                }
                                    .letra2:hover{
                                        color: white;
                                        border-top: 5px solid white;
                                    }
                                    .submenu{
                                        position: absolute; 
                                        background: black;
                                        width: 60%;
                                        visibility: hidden;
                                        opacity: 0;
                                        transition: opacity 1.5s;
                                        border-bottom-left-radius:  15px;
                                        border-bottom-right-radius:  15px;
                                        border-bottom: 4px solid white;
                                        border-left: 4px solid white;
                                        border-right: 4px solid white;
                                    }
                                        .submenu li a {
                                            display: block;
                                            padding: 15px;
                                            color: white;
                                            text-decoration: none;
                                            font-family: 'Open sans';
                                        }
                                            .icono{
                                                font-size: 18px;
                                                color: white;
                                                font-size: 40px;
                                            }
                                                .icono:hover{
                                                    color: #00d0ff;
                                                    
                                                }
                            .cv{
                                text-decoration: none;
                                color: black;
                            }
    .encabezado{
        display: flex;
        text-align: center;
        align-items: center;
        height: 610px;
        color: white;
        font-size: 50px;
    }
    .seccion{
        height: 710px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        .estudios{
            color: white;
            width: 40%;
            font-size: 96px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 10px;
            border-bottom: 4px solid white ;
            align-self: center;
            background: radial-gradient(50% 50% at 50% 50%, #000000 20%, #00FFF0 60%, rgba(242, 123, 123, 0) 100%);
            border-bottom: 3px solid #00FFF0;
        }
        .articulos{
            background: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 40%;
            height: 104px;
            margin-left: 200px;
            margin-bottom: 20px;
            border-radius: 15px;
        }
            img{
                width: 80px;
                height: 80px;
                margin: 15px;
            }
            .descripcion{
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-left: 3px solid black;
                height: 80px;
            }
                .contenido{
                    margin: 0px 25px; 
                }
                .gray{
                    color: rgba(11, 9, 9, 0.763);
                }
    .seccion2{
        height: 710px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
        .habilidades{
            color: white;
            font-size: 96px;
            width: 60%;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 10px;
            border-bottom: 4px solid white ;
            align-self: center;
            background: radial-gradient(50% 50% at 50% 50%, #000000 20%, #00FFF0 60%, rgba(242, 123, 123, 0) 100%);
            border-bottom: 3px solid #ffffff;
        }
        .lengs{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }
            .habs{
                background: white;
                display: flex;
                flex-direction: row;
                height: 150px;
                width: 300px;
                align-items: center;
                margin: 50px;
                border-radius: 20px;
            }
                .habs:hover{
                    background: black;
                    border: 3px solid white;
                }
                .lenguaje{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 30%;
                    font-size: 30px;
                    border: 2px solid black;
                    border-radius: 10px;
                }
                    .lenguaje:hover{
                        color: white;
                        border: 2px solid white;
                        background: black;
                    }
    



  

            

        
