@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat:wght@100&family=Poppins:wght@200;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 /* border: 1px solid red;  */
}

body{
    background: hsla(0, 4%, 95%, 0.279);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.title{
    text-align: center;
    width: 50%;
    font-family: 'Poppins';
    font-size: 30px;
    color: hsl(234, 12%, 34%);

}
.title2{
    text-align: center;
    width: 50%;
    font-family: 'Poppins';
    font-size: 30px;
    color: hsl(229, 6%, 66%);
    margin-top: 50px;
}

.parrafo{
    text-align: center;
    width: 30%;
    color: hsl(229, 6%, 66%);
    margin: 15px;
}
.contenido{
    width: 65%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);    
    column-gap: 40px;
    row-gap: 25px;
    margin: 50px;
    box-shadow: -10px 15px 60px -22px  hsl(234, 12%, 34%);
}
.seccion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background: white;
    box-shadow: -10px 15px 60px -22px  hsl(234, 12%, 34%);
    -webkit-box-shadow: -10px 15px 60px -22px  hsl(234, 12%, 34%);
    -moz-box-shadow: -10px 15px 60px -22px  hsl(234, 12%, 34%);
    border-radius: 4px;
    margin: 20px;
    width: 100%;
}
.seccion img{
    margin: 15px;
}
.seccion h2, p,div{
    width: 70%;
    text-align:left;
    Font-size: 12px;
    font-family: 'Poppins';
    color:hsl(229, 6%, 66%);
}
.seccion h2{
    Font-size: 16px;
    color: hsl(234, 12%, 34%);
}
.seccion div{
    display: flex;
    justify-content: right;
    text-align: center;
    
}
.seccion-1{
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 4px solid hsl(180, 62%, 55%);
}
.seccion-2{
    grid-row-start: 1;
    grid-row-end: 3;
    border-top: 4px solid hsl(0, 78%, 62%);
 
}
.seccion-3{
    grid-row-start: 3;
    grid-row-end: 5;
    border-top: 4px solid hsl(34, 97%, 64%);
}
.seccion-4{
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 4px solid hsl(212, 86%, 64%);
}
@media screen and (max-width: 750px){
    
}

@media screen and (max-width: 750px){
    body{
        width: auto;
        height: auto;
    }
    .title2{
        width: 90%;
        font-size: 25px;
    }
    .title{
        width: 90%;
        font-size: 25px;
    }
    .parrafo{
        width: 90%;
        font-size: 16px;
    }
    .contenido{
        width: 90%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .seccion{
        width: 90%;
        margin: 0px auto;
    }

.seccion-1{
    grid-row-start: 1;
    grid-row-end: 2;
    border-top: 4px solid hsl(180, 62%, 55%);
}
.seccion-2{
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 4px solid hsl(0, 78%, 62%);
 
}
.seccion-3{
    grid-row-start: 3;
    grid-row-end: 4;
    border-top: 4px solid hsl(34, 97%, 64%);
}
.seccion-4{
    grid-row-start: 4;
    grid-row-end: 5;
    border-top: 4px solid hsl(212, 86%, 64%);
}

}
